#draggable{
	width: 150px;
    height: 60px;
    background: #ccc;
    cursor: pointer;
}

#bounce{
	width: 150px;
    height: 60px;
    background: #ccc;
    margin-bottom: 10px;
}

#button{
	padding: 6px 12px;
}

body{
	background: #F5F5F5;
}

#container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

ol{
	list-style: none;
	padding: 0 20px;
}

ol li{
	padding-left: 6px;
	width: 400px;
	background: #FFFFFF;
}

ol > li {
	border: 1px solid;
}

span{
	font-weight: bold;
}

p{
	padding-left: 30px;
	padding-right: 5px;
	margin: 8px 0;
}

#explicacion{
	margin: 0 21px;
	border: 1px solid;
	background: #FFFFFF;
}

#explicacion p {
	padding-left: 15px;
}